mixinHeader()
  header.header
    box-sizing border-box
    
  nav
    margin-bottom 4rem
    position relative
    @media $mobile
      height 13rem
    .logo
      display inline
      position relative
      top 1rem
      @media $mobile
        margin 0
        padding 0
      p
        color $lime
        text-transform uppercase
        margin-left 36.7rem
        margin-top 3.4rem
        font-size 2.7rem
        padding 11px
        border 2px solid #b7b7b7
        border-radius 1rem
        width 17.8rem
        text-align center
        position relative
        @media $mobile 
          font-size 9rem
          width 49rem
          margin-left 40rem

      span 
        color $lime
        text-align center
        margin-left 42.6rem 
        font-size 18px 
        margin-top -17px
        text-transform uppercase
        position absolute
        background-color $white
        @media $mobile
          font-size 3rem
          margin-left 58rem
          margin-top -2rem 
        @media $desktop
          margin-left 41rem     
    .menu-wrap
      display flex
      justify-content space-around
      align-items center
      @media $mobile
        visibility hidden
        opacity 0 
      &.open
        @media $mobile
          transition all 0.4s linear
          visibility visible
          opacity 0.9
          position absolute
          top 3rem
          left 110rem
          background-color #c9c9c9
          width 55%
          height 180vh
          display flex
          z-index 1
          border-radius 1rem
          /*---*/
          .nav-links
            display block
            text-align center
            margin 0rem
            color $white
            width 20rem
            li
              @media $mobile
                margin 0
                margin-top 3rem
                font-size 2.4rem
              &:hover
                background-color #fff
                
      .nav-links
        position relative
        top -3rem
        margin-left 38rem
        margin-top 0rem 
        display flex
        justify-content space-around
        width 40%
        @media $tablet 
          display flex
          justify-content space-around
          margin-left 80rem
        li
          list-style none
          text-transform uppercase
          @media $tablet
            display flex
            margin-left 2rem
    
          a
            font-size 1.6rem
            &:hover
              border-bottom 0.2rem solid $lime            
    span 
      display block
      background $white
      border-radius 2px
      transition all 0.5s ease-in-out 
    .menu-toggle
      width 100px
      height 100px
      right -120rem
      top -11rem
      position relative
      cursor pointer
      border-radius 50px
      display none
      @media $mobile
        display block
        position absolute
        right -95rem
        top 3rem
      .hamburger
        position absolute
        height 100%
        width 100%
        span
          background-color $lime
          width 60px
          height 4px
          position relative
          top 24px
          left 20px
          margin 10px 0
          &:nth-child(1)
            transition-delay 0.5s
          &:nth-child(2)
            transition-delay 0.625s
          &:nth-child(3)
            transition-delay 0.75s
      .cross
        position absolute
        height 100%
        width 100%
        transform rotate(45deg)
        span
          &:nth-child(1)
            height 0%
            width 0.4rem
            position absolute
            top 10%
            left 2.1rem
            transition-delay 0s
          &:nth-child(2)
            width 0%
            height 0.4rem
            position absolute
            left 10%
            top 48px
            transition-delay 0.25s
      &.open
        .hamburger
            span
              width 0%
              &:nth-child(1)
                transition-delay 0s
              &:nth-child(2)
                transition-delay 0.125s
              &:nth-child(3)
                transition-delay 0.25s
        .cross
          @media $mobile
            z-index 222222222
            span
              &:nth-child(1)
                height 80%  
                transition-delay 0.625s
                left 2.1rem
              &:nth-child(2)
                width 80%
                transition-delay 0.375s
                left 0.6rem
mixinHeader()
