mixindescription()

.description
  

  h2.title 
    text-align center
    text-transform uppercase
    color $lime
    font-size 2.8rem
    margin-top 10rem
    font-family 'Modak', cursive

    
    &:after 
      border none
      display flex
      border-bottom 2px solid #c2c2c2
      content ' '
      width 22rem
      margin-left 57rem
      margin-top 1.6rem 
      position relative

    @media $mobile 
      font-size 2.8rem
      text-indent 58rem
      
    @media $tablet 
      font-size 3rem
      text-indent 53rem
    @media $desktop
      text-indent 4rem   
      
  .line
    border none 
    display flex  
    border-bottom 4px solid $lime
    content ' '
    width 7rem
    margin -0.3rem 64.6rem
    position absolute
  .image__show__wrapper
    display flex
    margin 5rem 7rem
    @media $tablet
      margin-left 14rem
    @media $desktop
      margin-left 2rem 
    .image__second,
    .image__fourth
        img 
          padding-top 5rem  
    [class*='image__']
      @media $mobile
        margin-left 23rem        
    .content
      width 30rem
      margin -3rem 0rem 0rem 1rem
      padding 2rem
      text-align justify
      line-height 2rem
      @media $mobile
        display block
        margin-top -18rem
        margin-left 58rem
      @media $desktop 
        margin-left 35rem
        margin-top -20rem 
      @media $tablet
        margin-top -21rem
        margin-left 27rem     
      h4
        margin-bottom 1.5rem
        @media $desktop
          margin-top -4rem
        @media $tablet 
          margin-top -3rem  
    @media $mobile
      display block
      font-size 2rem 
      


mixindescription()